
 .card{
  border:1px solid #000000;
  transition: transform 0.3s ease;
  cursor: pointer;

 } 
 .card:hover {
  transform: translateY(-10px);
}
 
 .card img{
  border-bottom: 1px solid #000000;
 }
 .card-text{
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #9f8e75;
  padding:0;
  margin: 0;

 }
 .card-price{
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding:0;
  margin: 0;
 }

